<!--User can view blog object and also delete it via form.-->
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model BlogApp2.Models.BlogModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<dt>Title</dt>

<textarea readonly
          style="width:100%;
                height:100%;">@Html.DisplayFor(model => model.BlogTitle)</textarea>

<dt>Entry</dt>

<textarea readonly rows="15" style="width:100%;
                height:100%;">@Html.DisplayFor(model => model.BlogEntry)</textarea>
<div>
    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@Model.BlogEntryID" />
        <button type="submit" value="Delete">Delete</button> |
        <a asp-action="MyBlogs">Back to List</a>
    </form>
</div>

