
@{
    ViewData["Title"] = "Index";
}

<input type="button" value="Create blog" onclick="location.href='@Url.Action("Create", "Blog")'">
<input type="button" value="Show posts" onclick="location.href='@Url.Action("ShowPosts", "Blog")'">
<h2>Index</h2>

