@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<BlogApp2.Models.BlogModel>
@{
    ViewData["Title"] = "JustBlogs";
}

<h2>Browse all the posts!</h2>
<html xmlns="http://www.w3.org/1999/xhtml">


<body>
    <ul style="list-style-type:none">

        @foreach (var blog in Model)
        {

            <a asp-action="Read" asp-route-id="@blog.BlogEntryID">
                <li style="border: 2px solid green;
                border-radius: 25px;
                background-color: lightgreen;
                margin: 20px;
                padding: 20px">
                    @blog.BlogTitle @blog.BlogEntry
                </li>
            </a>

        }
    </ul>

</body>
</html>

