@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<BlogApp2.Models.BlogModel>
@{
    ViewData["Title"] = "JustBlogs";
}

<h2>Browse all the posts!</h2>
<html xmlns="http://www.w3.org/1999/xhtml">


<body>
    <ul style="list-style-type:none">

        @foreach (var blog in Model)
        {
            <a asp-action="Read" asp-route-id="@blog.BlogEntryID">
                <li style="border: 2px solid green;
                border-radius: 10px;
                background-color: lightgreen;
                margin-bottom: 20px;
                padding: 30px">
                   Posted By: @blog.UserName  <br /><br />
                   @blog.BlogTitle
                </li>
            </a>

        }
    </ul>

</body>
</html>

